.kf_qycn_com_cckf_icon .kf_qycn_com_cckf_caption {
	position: absolute;
	top: 7px;
	right: 7px;
	width: 69px;
	text-align: center;
}
.kf_qycn_com_cckf_icon {
	width: 150px;
	height: 150px;
	padding: 0px;
	overflow: visible;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.kf_qycn_com_cckf_icon div {
	overflow: visible;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.kf_qycn_com_cckf_icon .kf_qycn_com_cckf_caption {
	white-space: nowrap;
	overflow: hidden;
	display: block;
	font-size: 12px;
	font-weight: bold;
	color: white;
	margin: 0px;
	background: transparent;
	text-shadow: none;
}
.kf_qycn_com_cckf_icon_online {
	cursor: pointer;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}
.kf_qycn_com_cckf_icon_offline {
	cursor: pointer;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}
.kf_qycn_com_cckf_icon {
	background-repeat: no-repeat;
	background: none;
}
.kf_qycn_com_cckf_icon div {
	background: none;
}
.kf_qycn_com_cckf_icon .kf_qycn_com_cckf_direct_talking_dialog {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	width: 120px;
	height: auto;
	background: transparent;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.kf_qycn_com_cckf_direct_talking_dialog * {
	margin: 0px;
	padding: 0px;
	width: auto;
	height: auto;
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
	float: none;
}
.kf_qycn_com_cckf_direct_talking_dialog strong {
	font-weight: bold;
}
.kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_item_icon_box {
	width: 25px;
	height: 20px;
	position: absolute;
	left: 0px;
	line-height: 20px;
	text-align: right;
	overflow: hidden;
	margin-top: 4px;
}
.kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_item_icon_box img {
	display: inline;
}
.kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_inner {
	margin: 0px 0px;
	/**border-left: 1px solid;
    border-right: 1px solid;**/
	overflow: hidden;
	background: #ffffff;
}
.kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_inner_content {
	overflow: hidden;
	background: #ffffff;
	width: 134px;
	padding: 0 8px;
	_padding: 0 6px;
}
.kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_top {
	margin: 0px 2px;
	border-bottom: 1px solid;
	font-size: 1px;
	height: 1px;
	background: transparent;
}
.kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_middle {
/**margin: 0px 1px;
    border-left: 1px solid;
    border-right: 1px solid;
    font-size: 1px;
    height: 1px;
    background: #ffffff; **/
}
.kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_bottom {
	margin: 0px 2px;
	border-top: 1px solid;
	font-size: 1px;
	height: 1px;
	background: transparent;
}
/**
.kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_border_color {
  border-color: #2767a2;
}
.kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_border_color_gray {
  border-color: #636363; }**/
.kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_text {
	margin: 0px 0px;
	line-height: 16px;
	overflow: hidden;
	word-break: break-all;
	margin-top: 5px;
	padding-left: 1px;
}
.kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_tel_body b, .kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_tel_body strong {
	font-weight: bold;
}
.kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_tel_body * {
	font-size: 15px;
	line-height: 28px;
}
.kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_item {
	width: 100%;
	height: 28px;
	line-height: 28px;
	cursor: pointer;
	position: relative;
	color: #3171dd;
	border-bottom: 1px solid #f5f5f5;
	border-radius: 8px;
}
.kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_qq_img {
	position: absolute;
	right: 2px;
	top: 0;
}
.kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_qq_img_wrap {
	position: relative;
	width: 17px;
	height: 24px;
	overflow: hidden;
	margin-left: 8px;
}
.kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_qq_img_mask {
	background: white;
	width: 2px;
	height: 9px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 7px;
	font-size: 12px;
}
.kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_qq_img, .kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_ww_img, .kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_wx_img, .kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_kf_img, .kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_wb_img, .kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_msn_img {
	margin-top: 2px;
	cursor: pointer;
}
.kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_tel_img {
	margin-top: 2px;
}
.kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_tel_body {
	cursor: default;
}
.kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_kf_img {
	margin-right: 1px;
}
.kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_ww_img {
	margin-right: 1px;
}
.kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_en_bb_img, .kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_bb_img {
	margin-top: 0;
	margin-left: 2px;
	cursor: pointer;
}
.kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_bb_img {
	margin-left: 1px;
}
.kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_en_bb_img {
	margin-left: 0px;
}
.kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_msn_body, .kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_ww_body, .kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_kf_body, .kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_wx_body, .kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_wb_body, .kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_tel_body, .kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_qq_body {
	margin-right: 6px;
	margin-left: 35px;
	font-size: 12px;
	overflow: hidden;
	height: 28px;
	line-height: 28px;
	width: 93px;
	text-align: left;
}
.kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_wb_body {
	_line-height: 30px;
}
.kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_tel_body {
	width: 123px;
}
.kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_ww_body, .kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_qq_body {
	line-height: 29px;
	color: white;
}
.kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_qq_, .kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_wb_, .kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_wx_, .kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_tel_, .kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_kf_, .kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_msn_, .kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_ww_ {
	margin-right: 5px;
	margin-top: 6px;
}
.kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_dialog_item_msn_body {
}
.kf_qycn_com_cckf_direct_talking_dialog_item_tel * {
	cursor: default;
}
.kf_qycn_com_cckf_dock {
	display: block;
	width: 35px;
	height: 135px;
	cursor: default;
	text-align: left;
	cursor: pointer;
}
.kf_qycn_com_cckf_dock .kf_qycn_com_cckf_caption {
	display: block;
	font: 15px "微软雅黑", '宋体', Arial;
	margin: 10px 8px 0px 8px;
	overflow: hidden;
	text-align: left;
	position: absolute;
	top: 2px;
	left: 0px;
	font-weight: bold;
	text-shadow: none;
	color: white;
	margin-left: 11px;
	-webkit-transform: rotate(0deg) translate(0px, 0px);
	-moz-transform: rotate(0deg) translate(0px, 0px);
	width: 14px;
	height: 90px;
 filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
	transform: rotate(0deg) translate(0px, 0px);
}
.kf_qycn_com_cckf_dock_left {
}
.kf_qycn_com_cckf_dock_left .kf_qycn_com_cckf_caption {
	top: 5px;
	left: -3px;
	text-shadow: none;
}
.kf_qycn_com_cckf_dock_right {
}
.kf_qycn_com_cckf_dock_right .kf_qycn_com_cckf_caption {
	top: 5px;
	left: 0px;
	text-shadow: none;
}
.kf_qycn_com_cckf_direct_talking_dialog_item_ww_img {
	height: 16px;
	background-repeat: no-repeat;
	width: 16px;
	margin-left: 7px;
}
.kf_qycn_com_cckf_direct_talking_dialog * {
	font-family: arial, "宋体";
}
.kf_qycn_com_cckf_direct_talking_dialog .kf_qycn_com_cckf_direct_talking_item {
	margin-top: 5px;
}
