@charset "utf-8";
/* CSS Document */

/*-----contenter ------------ */
.images {
	overflow: hidden;
	width: 598px;
	height: 364px;
	position: relative;
}
.images img {
}
.images span {
	display: block;
	position: absolute;
	z-index: 9;
	left: 30px;
	bottom: 15px;
}
