#header {
	background-color: green;
	width: 300px;
	height: 200px;
	background-image: url("../firstpage1.png");
}
.slick-item slick-slide_1 {
	width: 1519px;
	background-image: url("../firstpage1.png");
}
